.new-message { 
    span { 
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
        display: block; 
        margin-top: 2px;
        margin-bottom: 2px;
        width: auto;
        line-height: 0.4rem;
    }

        width: 45%;
    color: black;
    width: auto;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 1px 8px 8px 8px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
-moz-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    border-radius: 8px 1px 8px 8px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(#5772b0, #623d8b, #431344);
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
-moz-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
}


















@media screen and (min-width: 64em) {
    .new-message { 
        span { 
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            display: block; 
            margin-top: 2px;
            margin-bottom: 9px;
            text-align: left;
            overflow-wrap: normal;
            line-height: 0.4rem;
        }
    
        font-size: 1rem;
            color: black;

        text-align: left;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 1px 8px 8px 8px;
        margin-bottom: 1rem;
        -webkit-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    -moz-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    
        float:left;
        clear: both;
    }
    
    .my-message {
        float: right !important;
        border-radius: 8px 1px 8px 8px;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(#5772b0, #623d8b, #431344);
        font-family: 'Poppins', sans-serif;
        color: white;
        -webkit-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    -moz-box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    box-shadow: 17px 25px 75px -29px rgba(0,0,0,1);
    }
    
}